SECRET_KEY=2bh%3+$t!=l1hzwo^zt^8vwn!pe0rk&6j5p(7z0x#@wen$_#qo
DEBUG=True
ALLOWED_HOSTS=127.0.0.1, .localhost, .herokuapp.com
EMAIL_BACKEND=django.core.mail.backends.console.EmailBackend
EMAIL_HOST=localhost
EMAIL_PORT=25
EMAIL_USE_TLS=False
EMAIL_HOST_USER=
EMAIL_HOST_PASSWORD=
